<% @user = User.find_by_id(params[:user]) %>

<div class="container">

<h1>Welcome, <%= @user.email %></h1>
<br>
<%= link_to new_user_donation_path(:current_user_id => params[:user]), :class => "btn btn-default"  do %>
	Add a new donation
<% end %>
<br>
<h2>Below are your current donations:</h2>


<h3> Voucher Donations </h3>
<table class="table table-bordered">
<thead>
	<tr>
		<th>#</th>
		<th>Title</th>
		<th>Description</th>
		<th>Created at:</th>
		<th>Link</th>
	</tr>
</thead>
<tbody>
<% @user.voucher_donations.each do |voucher| %>

<tr class='voucher-item-show' id='<%=voucher.id%>'>
	<td><%=voucher.id%></td>
	<td><%=voucher.title%></td>
	<td><%=voucher.description%></td>
	<td><%=voucher.created_at %></td>
	<td><%= link_to 'VIEW', user_donation_path(voucher.id, :type => 'voucher'), :class => "btn btn-default" %></td>
</tr>
<% end %>
</tbody>
</table>
<br>

<h3> Physical Item Donations </h3>
<table class="table table-bordered">
<thead>
	<tr>
		<th>#</th>
		<th>Title</th>
		<th>Description</th>
		<th>Created at:</th>
		<th>Link</th>
	</tr>
</thead>
<tbody>
<% @items = @user.donations.select{ |donation| donation[:donatable_type] == "Physical Item" } %>
<% @donations = @items.map{ |item| PhysicalItem.find(item[:donatable_id]) }%>
<% @donations.each do |physical_item| %>

<tr class='physical_item-item-show' id='<%=physical_item.id%>'>
	<td><%= physical_item.id%></td>
	<td><%= physical_item.title%></td>
	<td><%= physical_item.description%></td>
	<td><%= physical_item.created_at %></td>
	<td><%= link_to 'VIEW', user_donation_path(physical_item.id, :type => 'physical_item'), :class => "btn btn-default" %></td>
</tr>
<% end %>

</tbody>
</table>
<br>

<h3> Experience Donations </h3>
<table class="table table-bordered">
<thead>
	<tr>
		<th>#</th>
		<th>Title</th>
		<th>Description</th>
		<th>Created at:</th>
		<th>Link</th>
	</tr>
</thead>
<tbody>
<% @user.experience_donations.each do |experience| %>

<tr class='experience-show' id='<%=experience.id%>'>
	<td><%= experience.id %></td>
	<td><%= experience.title %></td>
	<td><%= experience.description %></td>
	<td><%= experience.created_at %></td>
	<td><%= link_to 'VIEW', user_donation_path(experience.id, :type => 'experience'), :class => "btn btn-default" %></td>
</tr>
<% end %>
</tbody>
</table>
</div>