<% @user = User.find_by_id(params[:user]) %>

<h1>Welcome, <%= @user.email %></h1>
<h3>Below are your current donations:</h3>

<h4> Voucher Donations </h4>
<ul>
<% @user.voucher_donations.each do |voucher| %>

<li class='voucher-item-show' id='<%=voucher.id%>'>
	<h5><%=voucher.title%></h5>
	<text><%=voucher.description%></text>
	<br>
	<text>Created at: <%=voucher.created_at %></text>
	<br>
	<%= link_to 'View this donation', user_donation_path(voucher.id, :type => 'voucher') %>
</li>
<br>
<% end %>
</ul>
<br>

<h4> Physical Item Donations </h4>
<ul>
<% fail %>
<% @user.physical_item_donations.each do |physical_item| %>

<li class='physical_item-item-show' id='<%=physical_item.id%>'>
	<h5><%=experience.title%></h5>
	<text><%=experience.description%></text>
	<br>
	<text>Created at: <%=experience.created_at %></text>
	<br>
	<%= link_to 'View this donation', user_donation_path(physical_item.id, :type => 'physical_item') %>
</li>
<br>
<% end %>
</ul>
<br>

<h4> Experience Donations </h4>
<ul>
<% @user.experience_donations.each do |experience| %>

<li class='experience-show' id='<%=experience.id%>'>
	<h5><%=experience.title%></h5>
	<text><%=experience.description%></text>
	<br>
	<text>Created at: <%=experience.created_at %></text>
	<br>
	<%= link_to 'View this donation', user_donation_path(experience.id, :type => 'experience') %>
</li>
<br>
<% end %>
</ul>
<br>


<%= link_to new_user_donation_path(:current_user_id => params[:user])  do %>
	Add a new donation
<% end %>
